.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-weight: 600;
  color: var(--text-color);
  cursor: pointer;

  img {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }

  svg {
    margin-right: 8px;
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

.header {
  position: relative;
  min-height: 50px;
  margin-top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    background-color: var(--white);
    position: absolute;
    top: 1.35rem;
    left: 28px;

    svg {
      font-size: 16px;
      cursor: pointer;
    }
  }

  h4 {
    font-weight: 600;
    font-size: 1.8rem;
  }
}

.separate {
  border-top: 1px solid rgba(22, 24, 35, 0.12);
}
